/* RESET */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}


/* UTILITIES */
.flex{
    display: flex;
    justify-content: space-around;
    align-items: center;  
}
.container{
    height: 600px;

}

/* NAV BAR */
.nav-background{
    height: 100px;
    /* debug */
    background-color: lightblue; 
}

.header-nav ul{
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

/* HOMEPAGE */
.homepage{
    background-color:lightskyblue ;
}
.first-box{
    background-color: lightpink;
    width: 50%;
    height: 400px;
}





